<div class="page-wrapper">
  <div class="topic">
    <section class="intro">
      <h2>1. INTRODUÇÃO</h2>
      <p>A inspeção de fachada caracteriza-se como uma vistoria para avaliar as
        manifestações patológicas de uma edificação, onde será rotulado o
        desempenho, vida útil, segurança, estado de conservação, manutenção,
        exposição ambiental, utilização e operação, visando orientar os usuários
        quanto à necessidade de melhorias dos elementos construtivos. (NEVES,
        2009).</p>
      <p>O conceito de preservação, uso, manutenção e desempenho do espaço
        físico de maior relevância na vida do homem, tanto pelo aspecto
        patrimonial quanto pelas questões relacionadas à segurança e ao conforto
        se adquirem pela observação permanente das edificações. (IBAPE -
        Instituto Brasileiro de Avaliação e Perícias de Engenharia do estado de
        São Paulo – “Norma de Inspeção Predial Nacional”, 2012).</p>
      <p>As anomalias ou falhas constatadas no edifício fazem escopo da inspeção
        predial que o classifica de acordo com o grau de risco apresentado,
        fornecendo ao usuário uma análise isolada ou combinada das condições
        técnicas, de uso e de manutenção da edificação. Esta análise possibilita
        um planejamento de todos os gastos, a racionalização dos serviços a
        serem realizados e uma ordem cronológica em que estes serviços deverão
        ser executados. (NEVES, 2009).</p>
      <p>As não conformidades causadas pelas anomalias e falhas impactam na
        perda precoce de desempenho real ou futuro dos elementos construtivos e
        na redução do tempo de vida útil projetada. Podem comprometer também a
        segurança, funcionalidade, operabilidade, saúde de usuários, conforto
        térmico, acústico e lumínico, acessibilidade, durabilidade, vida útil,
        dentre outros parâmetros de desempenho definidos na ABNT NBR 15575.
        (IBAPE - Instituto Brasileiro de Avaliação e Perícias de Engenharia do
        estado de São Paulo – “Norma de Inspeção Predial Nacional”, 2012).</p>
      <p>Os reiterados acidentes prediais ocorridos recentemente no Brasil,
        motivados por anomalias e falhas, quer de projetos, quer construtivas ou
        de manutenção, indicam a necessidade de maior conscientização dos
        usuários das edificações com os cuidados técnicos indispensáveis à boa
        segurança e uso de nossas edificações. (GOMIDE, 2006).</p>
    </section>
  </div>
</div>

<div class="page-wrapper">
  <section class="vistoria">
    <div class="topic">
      <div class="topic-title"><h3>2. CONSIDERAÇÕES INICIAIS</h3></div>
      <div class="topic-content">
        <p>
          O presente laudo { nome do laudo } foi solicitado pelo { nome do
          solicitante }, situada na { endereço do solicitante }, localizado na
          cidade de { cidade do solicitante }, inscrito no CPNJ de número { cnpj do
          solicitante }. Elaborado pela empresa <strong>{ nome da empresa }</strong>, pessoa jurídica
          de direito privado, CNPJ { cnpj da empresa }, com endereço na { endereço
          da empresa }, situado na cidade de { cidade da empresa }, neste ato
          representada pela { título da representada } { nome da representada },
          inscrita no CPF nº { cpf da representada }, com o intuito de { intuito },
          justificando a ocorrência das manifestações patológicas apresentadas na
          vistoria realizada in loco nos meses de { período da vistoria }, em
          obediência às diretrizes atribuídas pelas Normas Técnicas Brasileiras
          aprovadas e regulamentadas pela Associação Brasileira de Normas Técnicas –
          ABNT, sendo imprescindíveis as suas recomendações, convenções e requisitos
          em todas as manifestações escritas, tais como: Pareceres e Laudos Técnicos
          de Engenharia.
        </p>
          <br>
        <p>
          A concepção e apresentação deste Laudo Pericial de Engenharia são de total
          responsabilidade da profissional qualificada, { nome da representada },
          legalmente habilitada pelo Conselho Regional de Engenharia e Agronomia da
          Bahia – CREA de n° { crea da representada }, de acordo com a Lei Federal
          nº 5194/66 e, entre outras, as Resoluções nº 205, 218 e 325 do CONFEA e
          Lei n° 1.121/19.
        </p>
      </div>
    </div> 
  </section>
</div>

<div class="page-wrapper">
  <div class="topic">
    <section class="metodologia">
      <h2>4. METODOLOGIA E PROCEDIMENTOS</h2>
      <p>De acordo com a Norma Brasileira Regulamentadora 13752:1996 (norma que
        fixa os critérios e procedimentos relativos às perícias de engenharia na
        construção civil), vistoria é a constatação de um fato através de
        observação de circunstâncias e descrição detalhada e minuciosa de todos
        os elementos que o constituem. Dessa maneira, a partir da realização de
        vistorias, o trabalho de análise, constatação e mapeamento dos aspectos
        a serem levantados, tornam-se mais isentos de subjetividade.</p>

      <p>O trabalho de levantamento das manifestações patológicas consistiu em
        vistorias in loco, atendendo às Normas Brasileiras e Internacionais como
        complementação. Além das vistorias realizadas, foram colhidas
        informações sobre a presença de manifestações patológicas com o corpo
        administrativo do condomínio.</p>

      <p>Os procedimentos adotados para o diagnóstico das patologias observadas
        foram:</p>

      <ol>
        <li>
          Levantamento detalhado do estado da fachada em todas as faces da
          edificação, incluindo reservatório superior, visualizando as áreas
          comprometidas, localizando e mapeando as manifestações patológicas
          observadas mediante a inspeção visual realizada por profissionais
          habilitados para o serviço;
        </li>
        <li>Utilização de ferramentas adequadas para a execução do teste de
          percussão em toda a fachada da edificação para identificação de som
          cavo (descolamento de pastilha/reboco);</li>
        <li>
          Verificação das configurações geométricas das anomalias, como
          comprimento e área;
        </li>
        <li>
          Análise do período da edição, na busca de informações relevantes para
          o diagnostico;
        </li>
        <li>
          Elaboração do laudo técnico com base nas informações e fotografias
          obtidas no local, contendo todos os dados técnicos necessários sobre a
          edição, quanto ao modelo estrutural e sistema de revestimento.
        </li>
      </ol>
    </section>
  </div>
</div>

<div class="page-wrapper">
  <div class="topic">
    <section class="classificacao">
      <h2>6. CLASSIFICAÇÃO DO OBJETO</h2>
      <div class="table-content">
        <div class="table-title">Tabela 01: Classificação do objeto de estudo</div>
        <table class="classification-table">
          <tbody>
            <tr>
              <th>ITEM</th>
              <th>CLASSIFICAÇÃO DO LOCAL</th>
              <th>DEFINIÇÃO</th>
            </tr>
            <tr>
              <td>01</td>
              <td>COMERCIAL</td>
              <td>( )</td>
            </tr>
            <tr>
              <td>02</td>
              <td>INDUSTRIAL</td>
              <td>( )</td>
            </tr>
            <tr>
              <td>03</td>
              <td>RESIDENCIAL</td>
              <td>(x)</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="subtopic">
        <h2>I.   Localização</h2>
          <p><strong>O Condomínio Edifício Maison Ville de Lyon</strong> fica situado na Rua
          Riolânida, 467, Santa Mônica, na cidade de Feira de Santana- Bahia,
          CEP 44077-130, CNPJ n° 13.428.332/0001-13.</p>

        <div class="topic-image-frame">
          <div class="image-frame-title">Imagem 01. Localização do Condomínio
            Maison Ville de Lyon em relação às vias de acesso</div>
          <img
            class="topic-image"
            src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg"
            alt="Example.png"
          />
          <div class="image-source">Fonte: Google Earth, extraída em 07 de março
            de 2024.</div>
        </div>
      </div>

      <div class="subtopic break-page">
        <h2>II. Identificação do objeto</h2>
        <p>O imóvel em estudo é uma edificação de uso residencial multifamiliar,
          construído em 2014, apresenta vinte e cinco pavimentos tipo, um
          pavimento na cobertura, mezanino, playground, duas garagens e
          pavimento térreo.</p>

        <p>Sua tipologia construtiva corresponde a: supraestrutura de concreto
          armado, com pilares, vigas e lajes; paredes de fechamento em alvenaria
          de bloco; e a fachada possui sistemas de revestimento em pastilhas
          cerâmicas (5x5) cm, nas cores branco, marrom, bege, amarelo.</p>

        <p>Conforme informações do corpo administrativo não houve manutenção
          periódica na fachada da edificação.</p>
      </div>

      <div class="subtopic">
        <h2>III. Período da vistoria técnica</h2>
        <ul>
          <li>
            Dias 19 de fevereiro de 2024 (Instalação dos pontos de ancoragem);
          </li>
          <li>
            Dias 19 a 29 de fevereiro de 2024, (Mapeamento das fachadas frontal,
            fundo, lateral direita e lateral esquerda da edição).
          </li>
          <li>
            Dia 01 de abril de 2024 (Mapeamento das fachadas do reservatório
            superior e da casa de máquinas e desmobilização);
          </li>
        </ul>
      </div>

      <div class="subtopic">
        <h2>IV. Utilização e Ocupação</h2>
        <p>A edificação em estudo atende a utilização e ocupação para o que lhe
          foi projetada.</p>
      </div>

      <div class="subtopic">
        <h2>V. Documentação analisada</h2>
        <ul>
          <li>Projeto Arquitetônicos da fachada;</li>
        </ul>
      </div>
    </section>
  </div>
</div>

<div class = "page-wrapper">
  <section class="vistoria">
    <div class="topic">
      <h2>8. VISTORIA DA EDIFICAÇÃO</h2>
        <p>O mapeamento da fachada foi realizado no mês de fevereiro e março de
          2024, conforme anamnese realizada e dados coletados, considerando que
          foram fornecidos de boa fé e são confiáveis.</p>

        <p>Foram vistoriados com acesso livre e desimpedido, todas as fachadas da
          edificação, incluindo as fachadas do reservatório superior, casa de
          máquinas, playground, garagem 1.</p>

        <p>Durante a vistoria não foram executados ensaios destrutivos, sendo
          realizada a inspeção tátil- visual, ensaio à percussão, medições e
          registros fotográficos, contemplando dados técnicos necessários sobre a
          edificação.</p>

        <p>Nesse presente documento técnico só serão expostos os elementos e áreas
          que apresentaram manifestações patológicas aparentes na fachada e/ou na
          sua interface.</p>

        <p>Este trabalho restringe-se aos itens vistoriados elencados abaixo, não
          tendo sido executadas vistorias em ambientes e sistemas que não tenham
          sido citados.</p>

        <ul>
          <li><Strong>Fachadas: frontal, lateral direita, fundo e lateral esquerda da
              edificação;</strong></li>
          <li><Strong>Fachadas da casa de máquinas.</strong></li>
          <li><Strong>Fachada Reservatório</strong></li>
          <li><Strong>Playground</strong></li>
          <li><Strong>Mezanino.</strong></li>
          <li><Strong>Garagens </strong></li>
        </ul>

        <div class="subtopic">
          <h2>8.1 Identificação do objeto</h2>
            <p>a) Mapeamento</p>

            <p>As fachadas foram divididas em panos (conjuntos de várias fiadas de
              blocos que formam uma parede de alvenaria), para a obtenção de um
              maior detalhamento no processo de vistoria, conforme descrito abaixo:</p>

            <ul>
              <li><i>Fachada Frontal representada pelos panos: P2, P3, P4, P6,
                  P7.</i></li>
              <li><i>Fachada Lateral Direita representada pelos panos: P5, P8,
                  P9, P10, P11. P12, P15.</i></li>
              <li><i>Fachada Fundo representada pelos panos: P13, P14, P17, P18,
                  P19.</i></li>
              <li><i>Fachada Lateral Esquerda representada pelos panos: P20, P21,
                  P22, P23, P1.</i></li>
            </ul>

            <div class="topic-image-frame">
              <div class="image-frame-title">Figura 01. Vista do Mapeamento das fachadas indicando cada pano</div>
              <img class="topic-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="figura01.jpg">
            </div>
        </div>

        <div class="subtopic">
          <h2>I. Vistoria da Fachada Lateral Esquerda</h2>
            <p>A fachada lateral esquerda que é visualizada pela área de laser, tem uma grande área de anomalia de desplacamento cerâmico nas quinas inclinadas de pastilha marrom, indicadas como pano 01 e 20, conforme exposto na foto 01.</p>

            <div class="room-image-frame">
              <div class="room-image-frame-title">Foto 01 </div>
              <div class="room-images">
                <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto01.src"/>
              </div>
              <div class="room-description-frame">
                <div class="room-description-label">Descrição</div>
                <div class="room-description">
                  <ul-2>
                    <li>Fachada Lateral Esquerda da edificação, com destaque para área com maior manifestação de desplacamento cerâmico.</li>
                  </ul-2>
                </div>
              </div>
            </div>

            <div class="room-image-frame">
              <div class="room-image-frame-title">Foto 02 </div>
              <div class="room-images">
                <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto02.src"/>
              </div>
              <div class="room-description-frame">
                <div class="room-description-label">Descrição</div>
                <div class="room-description">
                  <ul-2>
                    <li>Anomalias de fissuras e armadura exposta na quina da edificação, proveniente de expansão volumétrica.</li>
                  </ul-2>
                </div>
              </div>
            </div>

            <div class="room-image-frame">
              <div class="room-image-frame-title">Fotos 03 e 04</div>
              <div class="room-images">
                <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto03.src"/>
                <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto04.src"/>
              </div>
              <div class="room-description-frame">
                  <div class="room-description-label">Descrição</div>
                  <div class="room-description">
                  <ul-2>
                    <li>Deterioração e desgaste de selante da junta de movimentação;</li>
                  </ul-2>
                </div>
              </div>
            </div>

            <div class="room-image-frame">
              <div class="room-image-frame-title">Fotos 05 e 06</div>
              <div class="room-images">
                <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto05.src"/>
                <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto06.src"/>
              </div>
              <div class="room-description-frame">
                <div class="room-description-label">Descrição</div>
                <div class="room-description">
                  <ul-2>
                    <li>Anomalia de corrosão na armadura ocasionando exposição do aço;</li>
                    <li>Cobrimento da armadura, 1,5 cm, em desacordo com recomendações da NBR 6118:2014.</li>
                  </ul-2>
                </div>
              </div>
            </div>
        </div>
    </div> 
  </section>
</div>
