@page {
  margin-top: 19.7vh;
  margin-bottom: 13vh;
  margin-left: 24.9mm;
  margin-right: 24.9mm;

  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  font-family: Calibri, sans-serif;
  font-size: 12pt;
  line-height: 1.22;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.22;
  font-size: 12pt;
  text-align: justify;
}
ol {
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 0;
  list-style-position: outside;
}

h2 {
  margin: 0;
  padding: 0;
  padding-left: 4.5%;

  font-size: 12pt;
}

h3 {
  margin: 0;
  margin-left: 6mm;
  padding: 0;
  font-size: 12pt;
}

section {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  row-gap: 0.3cm;
}

li {
  padding: 0 0 0 10px;
  font-size: 12pt;
  text-align: justify;
}
li2 {
  padding: 0 0 0 10px;
  font-size: 12pt;
  text-align: justify;
  font-style: italic;
}
ul {
  margin-top: 2px;
  margin-left: 50px;
  line-height: 30px;
  list-style-position: outside;
}
ul-2 {
  list-style-position: outside;
  padding: 0;
  line-height: 1.22;
}
.page-footer {
  font-size: 12pt;
  text-align: end;
  width: 88%;
  position: absolute;
  bottom: 60px;
}

.page-wrapper {
  margin: 0 auto;
  page-break-after: always;
}

.topic {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.subtopic {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  page-break-inside: avoid;
}

.subtopic h2 {
  margin: 0;
  padding: 0;
  padding-left: 9%;

  list-style-type: upper-roman;

  font-size: 11pt;
  font-weight: bold;
}

.table-title {
  margin: 0;
  padding: 0;

  font-size: 10pt;
  font-weight: bold;
}
.table-content {
  display: flex;
  flex-direction: column;
  row-gap: 0;
}
.classification-table {
  width: 100%;
  border-collapse: collapse;
}
.classification-table th,
.classification-table td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}
.classification-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
.classification-table td {
  background-color: #fff;
}

.topic-image-frame {
  width: 100%;
  height: auto;

  margin: 0 auto;

  text-align: center;
}

.image-frame-title {
  font-size: 12px;
  font-weight: bold;
  font-family: Calibri, sans-serif;
}

.image-source {
  font-size: 12px;
  font-weight: bold;
  font-family: Calibri, sans-serif;
}

.room-image-frame {
  width: 98%;
  height: auto;

  margin: 5px auto;
  background: #fff;
  border: 1px solid #000000;

  page-break-inside: avoid;
}

.room-image-frame-title {
  font-size: 10pt;
  font-weight: bold;

  text-align: center;

  border-bottom: 1px solid #000;
}

.room-images {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  padding: 5px;
}

.room-image {
  max-width: 50%;
  height: auto;
  padding: 0;
}

.room-description-frame {
  display: flex;
  align-items: center;
  border-top: 1px solid #000;
  height: min-content;
}

.room-description {
  border-left: 1px solid #000;
  line-height: 1px;
  padding-left: 10px;
}
.room-description-label {
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
  font-weight: bold;
}
.break-page {
  page-break-before: always;
}
