{{! <div class="page-wrapper">
  <div class="topic">
    <section class="intro">
      <h2>1. INTRODUÇÃO</h2>
      <p>A inspeção de fachada caracteriza-se como uma vistoria para avaliar as
        manifestações patológicas de uma edificação, onde será rotulado o
        desempenho, vida útil, segurança, estado de conservação, manutenção,
        exposição ambiental, utilização e operação, visando orientar os usuários
        quanto à necessidade de melhorias dos elementos construtivos. (NEVES,
        2009).</p>
      <p>O conceito de preservação, uso, manutenção e desempenho do espaço
        físico de maior relevância na vida do homem, tanto pelo aspecto
        patrimonial quanto pelas questões relacionadas à segurança e ao conforto
        se adquirem pela observação permanente das edificações. (IBAPE -
        Instituto Brasileiro de Avaliação e Perícias de Engenharia do estado de
        São Paulo – “Norma de Inspeção Predial Nacional”, 2012).</p>
      <p>As anomalias ou falhas constatadas no edifício fazem escopo da inspeção
        predial que o classifica de acordo com o grau de risco apresentado,
        fornecendo ao usuário uma análise isolada ou combinada das condições
        técnicas, de uso e de manutenção da edificação. Esta análise possibilita
        um planejamento de todos os gastos, a racionalização dos serviços a
        serem realizados e uma ordem cronológica em que estes serviços deverão
        ser executados. (NEVES, 2009).</p>
      <p>As não conformidades causadas pelas anomalias e falhas impactam na
        perda precoce de desempenho real ou futuro dos elementos construtivos e
        na redução do tempo de vida útil projetada. Podem comprometer também a
        segurança, funcionalidade, operabilidade, saúde de usuários, conforto
        térmico, acústico e lumínico, acessibilidade, durabilidade, vida útil,
        dentre outros parâmetros de desempenho definidos na ABNT NBR 15575.
        (IBAPE - Instituto Brasileiro de Avaliação e Perícias de Engenharia do
        estado de São Paulo – “Norma de Inspeção Predial Nacional”, 2012).</p>
      <p>Os reiterados acidentes prediais ocorridos recentemente no Brasil,
        motivados por anomalias e falhas, quer de projetos, quer construtivas ou
        de manutenção, indicam a necessidade de maior conscientização dos
        usuários das edificações com os cuidados técnicos indispensáveis à boa
        segurança e uso de nossas edificações. (GOMIDE, 2006).</p>
    </section>
  </div>
</div>

<div class="page-wrapper">
  <div class="topic">
    <section class="metodologia">
      <h2>4. METODOLOGIA E PROCEDIMENTOS</h2>
      <p>De acordo com a Norma Brasileira Regulamentadora 13752:1996 (norma que
        fixa os critérios e procedimentos relativos às perícias de engenharia na
        construção civil), vistoria é a constatação de um fato através de
        observação de circunstâncias e descrição detalhada e minuciosa de todos
        os elementos que o constituem. Dessa maneira, a partir da realização de
        vistorias, o trabalho de análise, constatação e mapeamento dos aspectos
        a serem levantados, tornam-se mais isentos de subjetividade.</p>

      <p>O trabalho de levantamento das manifestações patológicas consistiu em
        vistorias in loco, atendendo às Normas Brasileiras e Internacionais como
        complementação. Além das vistorias realizadas, foram colhidas
        informações sobre a presença de manifestações patológicas com o corpo
        administrativo do condomínio.</p>

      <p>Os procedimentos adotados para o diagnóstico das patologias observadas
        foram:</p>

      <ol>
        <li>
          Levantamento detalhado do estado da fachada em todas as faces da
          edificação, incluindo reservatório superior, visualizando as áreas
          comprometidas, localizando e mapeando as manifestações patológicas
          observadas mediante a inspeção visual realizada por profissionais
          habilitados para o serviço;
        </li>
        <li>Utilização de ferramentas adequadas para a execução do teste de
          percussão em toda a fachada da edificação para identificação de som
          cavo (descolamento de pastilha/reboco);</li>
        <li>
          Verificação das configurações geométricas das anomalias, como
          comprimento e área;
        </li>
        <li>
          Análise do período da edição, na busca de informações relevantes para
          o diagnostico;
        </li>
        <li>
          Elaboração do laudo técnico com base nas informações e fotografias
          obtidas no local, contendo todos os dados técnicos necessários sobre a
          edição, quanto ao modelo estrutural e sistema de revestimento.
        </li>
      </ol>
    </section>
  </div>
</div> }}

<div class="page-wrapper">
  <div class="topic">
    <section class="classificacao">
      <h2>6. CLASSIFICAÇÃO DO OBJETO</h2>
      <div class="table-content">
        <span>Tabela 01: Classificação do objeto de estudo</span>
        <table>
          <tbody>
            <tr>
              <th>ITEM</th>
              <th>CLASSIFICAÇÃO DO LOCAL</th>
              <th>DEFINIÇÃO</th>
            </tr>
            <tr>
              <td>01</td>
              <td>COMERCIAL</td>
              <td>( )</td>
            </tr>
            <tr>
              <td>02</td>
              <td>INDUSTRIAL</td>
              <td>( )</td>
            </tr>
            <tr>
              <td>03</td>
              <td>RESIDENCIAL</td>
              <td>(x)</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="subtopic">
        <li class="subtopic-title">Localização</li>
        <p>O Condomínio Edifício Maison Ville de Lyon fica situado na Rua
          Riolânida, 467, Santa Mônica, na cidade de Feira de Santana- Bahia,
          CEP 44077-130, CNPJ n° 13.428.332/0001-13.</p>

        <div class="topic-image-frame">
          <span>Imagem 01. Localização do Condomínio Maison Ville de Lyon em
            relação às vias de acesso</span>
          <img
            class="topic-image"
            src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg"
            alt="Example.png"
          />
          <span>Fonte: Google Earth, extraída em 07 de março de 2024.</span>
        </div>
      </div>

      <div class="subtopic">
        <li class="subtopic-title">Identificação do objeto</li>
        <p>O imóvel em estudo é uma edificação de uso residencial multifamiliar,
          construído em 2014, apresenta vinte e cinco pavimentos tipo, um
          pavimento na cobertura, mezanino, playground, duas garagens e
          pavimento térreo.</p>

        <p>Sua tipologia construtiva corresponde a: supraestrutura de concreto
          armado, com pilares, vigas e lajes; paredes de fechamento em alvenaria
          de bloco; e a fachada possui sistemas de revestimento em pastilhas
          cerâmicas (5x5) cm, nas cores branco, marrom, bege, amarelo.</p>

        <p>Conforme informações do corpo administrativo não houve manutenção
          periódica na fachada da edificação.</p>
      </div>

      <div class="subtopic">
        <li class="subtopic-title">Período da vistoria técnica</li>
        <ul>
          <li>
            <span>Dias 19 de fevereiro de 2024 (Instalação dos pontos de
              ancoragem);</span>
          </li>
          <li>
            <span>Dias 19 a 29 de fevereiro de 2024, (Mapeamento das fachadas
              frontal, fundo, lateral direita e lateral esquerda da edição).</span>
          </li>
          <li>
            <span>Dia 01 de abril de 2024 (Mapeamento das fachadas do
              reservatório superior e da casa de máquinas e desmobilização);</span>
          </li>
        </ul>
      </div>

      <div class="subtopic">
        <li class="subtopic-title">Utilização e Ocupação</li>
        <p>A edificação em estudo atende a utilização e ocupação para o que lhe
          foi projetada.</p>
      </div>

      <div class="subtopic">
        <li class="subtopic-title">Documentação analisada</li>
        <ul>
          <li><span>Projeto Arquitetônicos da fachada;</span></li>
        </ul>
      </div>
    </section>
  </div>
</div>
{{! 
 <div class="topic">
  <p class="topic-title">7. DEFINIÇÕES E CONCEITOS</p>
  <div class="topic-content">
    <p>
      Na atualidade há grande quantidade de edificações apresentando diferentes
      tipos de manifestações patológicas. Muitas delas são causadas por vícios
      construtivos, pela falha na execução de argamassas no canteiro de obras e
      principalmente pela falta de manutenções preventivas, já que nem sempre é
      dada a devida importância a este processo.
    </p>

    <p>
      O destacamento ou descolamento se dá quando há um afastamento em relação à
      base de assentamento gerando som cavo, geralmente seguido pelo empolamento
      do reboco (formação de saliências para o exterior - abaulamento - ou para
      o interior - esmagamento), até atingir a fase de desprendimento provocando
      descontinuidades na superfície. Já a perda de coesão diz respeito à
      desunião ou desagregação dos componentes da argamassa, sendo mais
      frequente em argamassas antigas, está se dá geralmente por três tipos de
      fenômenos: pulverização (desprendimento sob a forma de pó ou grânulos),
      arenização ou desagregação granular (perda ou lavagem das partículas
      finas) e erosão (perda localizada de massa de superfície do material por
      ação dos elementos atmosféricos).
    </p>

    <p>
      Abaixo seguem alguns fatores que são responsáveis por gerar esse tipo de
      manifestação patológica nas edificações:
    </p>
    <ul>
      <li><span>
          Dosagem inapropriada do traço da argamassa (pouco ligante), sobretudo
          quando conjugada com a aplicação em tempo seco;
        </span></li>
      <li><span>Espessura excessiva do reboco</span></li>
      <li><span>Umidificação prolongada da parede (infiltração) que pode levar à
          dissolução de alguns componentes da argamassa</span></li>
      <li><span>Lavagem do ligante, especialmente em situações de argamassas com
          baixa dureza superficial</span></li>
      <li><span>Além de um problema muito comum combinação de mão de obra sem a
          devida qualificação e a pressa em concluir os empreendimentos</span>
      </li>
    </ul>

    <p>Quando são detectados problemas relacionados à perda de aderência ou de
      coesão de rebocos em áreas de grandes dimensões, ou seja, excluindo as
      situações de manifestação muito pontual, de diagnóstico mais fácil e
      intervenção localizada, pode dizer-se que o reboco atingiu o limite do seu
      tempo de serviço.</p>

    <p>A infiltração é um dos maiores problemas que ocorrem nas construções.
      Muitas vezes começam como manchas nos cantos, bolhas e mofo, gerando um
      aspecto visual bastante desagradável. Porém, o que muitas pessoas precisam
      se atentar é para o fato de que as infiltrações podem trazer consequências
      muito mais sérias para a edificação, pois a grande maioria dos materiais
      utilizados nas construções são porosos, cada um em determinado grau, mas
      ainda assim apresentam espaços por onde a água se infiltra.</p>

    <p>O concreto, por exemplo, que é largamente utilizado nas construções no
      Brasil, apresenta um grau de porosidade relativamente alto, e se não
      houver uma impermeabilização bem executada, certamente vai ter problemas
      com infiltrações.</p>

    <p>O concreto armado tem essa denominação pois é composto de dois materiais:
      concreto mais aço (chamado de “armadura”, daí deriva o conceito concreto
      armado). O concreto (cimento, areia, brita e água) por si só é um material
      bastante resistente, porém, ele resiste bem apenas aos esforços de
      compressão, as malhas de aço são adicionadas para poder resistir aos
      outros esforços solicitantes, sendo o principal deles a flexão. Desta
      forma, o conjunto concreto + aço torna a estrutura mais completa e mais
      resistente a todos os esforços a que ela estará sujeita.</p>

    <p>Os metais em geral são materiais que se oxidam facilmente, por esse
      motivo, a armadura de uma estrutura de concreto armado deve estar sempre
      longe de qualquer contato com a água, ar ou ambiente que favoreça a
      corrosão. Quando, por qualquer motivo, existe a exposição da armadura ao
      ambiente, a estrutura como um todo pode ficar comprometida.</p>
  </div>
</div>

<div class="topic">
  <p class="topic-title">8. VISTORIA DA EDIFICAÇÃO</p>
  <div class="topic-content">
    <p>O mapeamento da fachada foi realizado no mês de fevereiro e março de
      2024, conforme anamnese realizada e dados coletados, considerando que
      foram fornecidos de boa fé e são confiáveis.</p>

    <p>Foram vistoriados com acesso livre e desimpedido, todas as fachadas da
      edificação, incluindo as fachadas do reservatório superior, casa de
      máquinas, playground, garagem 1.</p>

    <p>Durante a vistoria não foram executados ensaios destrutivos, sendo
      realizada a inspeção tátil- visual, ensaio à percussão, medições e
      registros fotográficos, contemplando dados técnicos necessários sobre a
      edificação.</p>

    <p>Nesse presente documento técnico só serão expostos os elementos e áreas
      que apresentaram manifestações patológicas aparentes na fachada e/ou na
      sua interface.</p>

    <p>Este trabalho restringe-se aos itens vistoriados elencados abaixo, não
      tendo sido executadas vistorias em ambientes e sistemas que não tenham
      sido citados.</p>

    <ul>
      <li><span>Fachadas: frontal, lateral direita, fundo e lateral esquerda da
          edificação;</span></li>
      <li><span>Fachadas da casa de máquinas.</span></li>
      <li><span>Fachada Reservatório</span></li>
      <li><span>Playground</span></li>
      <li><span>Mezanino.</span></li>
      <li><span>Garagens</span></li>
    </ul>

    <div class="subtopic">
      <p class="subtopic-title">8.1 Identificação do objeto</p>
      <div class="subtopic-content">
        <p>a) Mapeamento</p>

        <p>As fachadas foram divididas em panos (conjuntos de várias fiadas de
          blocos que formam uma parede de alvenaria), para a obtenção de um
          maior detalhamento no processo de vistoria, conforme descrito abaixo:</p>

        <ul>
          <li><span>Fachada Frontal representada pelos panos: P2, P3, P4, P6,
              P7.</span></li>
          <li><span>Fachada Lateral Direita representada pelos panos: P5, P8,
              P9, P10, P11. P12, P15.</span></li>
          <li><span>Fachada Fundo representada pelos panos: P13, P14, P17, P18,
              P19.</span></li>
          <li><span>Fachada Lateral Esquerda representada pelos panos: P20, P21,
              P22, P23, P1.</span></li>
        </ul>

        <div class"topic-image-frame">
          <span>Figura 01. Vista do Mapeamento das fachadas indicando cada pano</span>
          <img class="topic-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="figura01.jpg">
        </div>

      </div>
    </div>

    <div class="subtopic">
      <p class="subtopic-title">I. Vistoria da Fachada Lateral Esquerda</p>
      <div class="subtopic-content">
        <p>A fachada lateral esquerda que é visualizada pela área de laser, tem uma grande área de anomalia de desplacamento cerâmico nas quinas inclinadas de pastilha marrom, indicadas como pano 01 e 20, conforme exposto na foto 01.</p>

        <div class="room-image-frame">
          <span>Foto 01</span>
          <div class="room-images">
            <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto01.src"/>
          </div>
          <div class="room-description">
            <span>Descricão</span>
            <ul>
              <li><span>Fachada Lateral Esquerda da edificação, com destaque para área com maior manifestação de desplacamento cerâmico.</span></li>
            </ul>
          </div>
        </div>

        <div class="room-image-frame">
          <span>Foto 02</span>
          <div class="room-images">
            <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto02.src"/>
          </div>
          <div class="room-description">
            <span>Descricão</span>
            <ul>
              <li><span>Anomalias de fissuras e armadura exposta na quina da edificação, proveniente de expansão volumétrica.</span></li>
            </ul>
          </div>
        </div>

        <div class="room-image-frame">
          <span>Fotos 03 e 04</span>
          <div class="room-images">
            <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto03.src"/>
            <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto04.src"/>
          </div>
          <div class="room-description">
            <span>Descricão</span>
            <ul>
              <li><span>Deterioração e desgaste de selante da junta de movimentação;</span></li>
            </ul>
          </div>
        </div>

        <div class="room-image-frame">
          <span>Fotos 05 e 06</span>
          <div class="room-images">
            <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto05.src"/>
            <img class="room-image" src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" alt="foto06.src"/>
          </div>
          <div class="room-description">
            <span>Descricão</span>
            <ul>
              <li><span>Anomalia de corrosão na armadura ocasionando exposição do aço;</span></li>
              <li><span>Cobrimento da armadura, 1,5 cm, em desacordo com recomendações da NBR 6118:2014.</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 


<div class="topic">
  <div class="topic-title"><h3>{ TOPIC_NUMBER }. { TOPIC_TITLE }</h3></div>
  <div class="topic-content"> <p>{ TOPIC_CONTENT }</p> </div>
  <div class="subtopic">
    <div class="subtopic-title"><h3>{ SUBTOPIC_NUMBER }. { SUBTOPIC_TITLE }</h3></div>
    <div class="subtopic-content"> <p>{ SUBTOPIC_CONTENT }</p> </div>
  </div>
</div>

<div class="topic">
  <div class="topic-title"><h3>1. CONSIDERAÇÕES INICIAIS</h3></div>
  <div class="topic-content">
    <p>
      O presente laudo { nome do laudo } foi solicitado pelo { nome do
      solicitante }, situada na { endereço do solicitante }, localizado na
      cidade de { cidade do solicitante }, inscrito no CPNJ de número { cnpj do
      solicitante }. Elaborado pela empresa { nome da empresa }, pessoa jurídica
      de direito privado, CNPJ { cnpj da empresa }, com endereço na { endereço
      da empresa }, situado na cidade de { cidade da empresa }, neste ato
      representada pela { título da representada } { nome da representada },
      inscrita no CPF nº { cpf da representada }, com o intuito de { intuito },
      justificando a ocorrência das manifestações patológicas apresentadas na
      vistoria realizada in loco nos meses de { período da vistoria }, em
      obediência às diretrizes atribuídas pelas Normas Técnicas Brasileiras
      aprovadas e regulamentadas pela Associação Brasileira de Normas Técnicas –
      ABNT, sendo imprescindíveis as suas recomendações, convenções e requisitos
      em todas as manifestações escritas, tais como: Pareceres e Laudos Técnicos
      de Engenharia.
    </p>
    <p>
      A concepção e apresentação deste Laudo Pericial de Engenharia são de total
      responsabilidade da profissional qualificada, { nome da representada },
      legalmente habilitada pelo Conselho Regional de Engenharia e Agronomia da
      Bahia – CREA de n° { crea da representada }, de acordo com a Lei Federal
      nº 5194/66 e, entre outras, as Resoluções nº 205, 218 e 325 do CONFEA e
      Lei n° 1.121/19.
    </p>
  </div>
</div>  }}
